/* app/globals.css */

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: #000909;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}